.cards {
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  border-radius: 0.1rem;
  overflow: hidden;
  margin: 0.19rem;
  cursor: pointer;
  min-width: 20rem;
  height: 30rem;
  z-index: 0;
  border: 0.1rem solid rgb(99, 99, 99);
}

.cards:hover {
  transform: scale(1.2);
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.25) 0rem 5.4rem 5.5rem,
    rgba(0, 0, 0, 0.12) 0rem -1.2rem 3rem, rgba(0, 0, 0, 0.12) 0 0.4rem 6rem,
    rgba(0, 0, 0, 0.17) 0 1.2rem 1.3rem, rgba(0, 0, 0, 0.09) 0 -0.3rem 0.5rem;
}

.cards__img {
  height: 30rem;
}

.cards__overlay {
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  bottom: 0rem;
  height: 29rem;
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: flex-end;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 0;
  transition: opacity 0.2s;
}

.cards__overlay:hover {
  opacity: 1;
}

.card__title {
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.card__runtime {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.card__rating {
  float: right;
}

.card__description {
  font-style: italic;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}
